.container {
  padding:30px;
  flex: 1;
}
.container h2 {
  text-align: center;
  color:#333;
  margin-top: 1rem;
  font-weight: bold;
}
.wrapper{
  display: flex;
  justify-content: flex-start;
  gap:20px;
  flex-wrap: wrap;
}



