.container {
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0rem;
    box-shadow: 0 3px 12px rgba(98, 107, 181, 0.25);
    background: rgba(14, 73, 126, 1);
}
.left {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-left: 3%;
}
.right {
    float: right;
    margin-right: 10px;
}
.right .usercard {
    display: flex;
    gap: 12px;
    align-items: center;
}
.right .detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.right .detail > span {
    font-size: 18px;
    color: #fff;

}
.right .detail .nologin {
    /* color: blue; */
}
.timebox {
    color: #fff;
}
.timebox > span {
    margin-right: 10px;
}
.buttonlist > button {
    margin-right: 8px;
    border-radius: 3px;
}
